---
layout: default
title: "Node.js Advisory Board"
id: index
---
<h3>
<a id="welcome" class="anchor" href="#welcome" aria-hidden="true"></a>Welcome to the Node.js Advisory Board.</h3>

<p><strong>What is the <a href="https://nodejs.org/about/advisory-board/">Node.js Advisory Board</a>?</strong> The Node.js open source project is continuing its rapid growth of adoption in the market. Given the large numbers of contributors, users, and companies with a stake in the future of the project, the project leadership is looking to supplement the current governance and contribution mechanisms with an advisory board, as part of its long-term commitment to create a more open governance model. This website provides a central place to review the meeting minutes for the advisory board as well as the public outreach and engagement efforts for the advisory board.</p>
<h3>I want to be heard!</h3>
<p>Great! We encourage and look for input from everyone in, around, and interested by the Node.js project. There are several methods to provide input to the advisory board, here are some of the best options:</p>
<ol>
<li><b>Join The Meeting</b> If you have access to some form of voice communication, you can join the next meeting as listed on the left of this page. We offer the ability to join via the web (and VOIP) or through the phone system, use what works best for you. In order to keep sanity in the meetings, we will be using an IRC channel (<a href="https://webchat.freenode.net/?channels=#nodejsab">chat.freenode.net/#nodejsab</a>) that you can post questions, concerns, and statements that will be presented live during the meeting. During the meetings there will be an appointed "public advocate" that will consolidate and present the messages from the IRC room into the live discussion.</li>
<li><b><a href="https://github.com/joyent/nodejs-advisory-board/issues">File An Issue</a></b> If you can easily write up your input, we would love to gather it as an issue so it can have a full discussion around it.</li>
<li><b><a href="mailto:nodeadvocate@joyent.com">Email The Public Advocate</a></b> If there is something you would prefer to address discreetly, please email the public advocate directly.</li>
</ol>

<h3>Meeting Minutes</h3>
 {% for meeting in site.data.meetings %}
    <li><a href="https://github.com/joyent/nodejs-advisory-board/blob/master/meetings/{{meeting.date}}/minutes.md">{{meeting.date}}</a>{% if meeting.tldr %}<div class='tldr'><b>TL;DR:</b> {{meeting.tldr}}</div>{% endif %}</li>
  {% endfor %}
